<table class="table table-responsive">
    <thead>
    <tr>
        <th>BookingId</th>
        <th>Cliente</th>
        <th>Fecha de Creación</th>
        <th>Dirección</th>
        <th>Precio</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of lista">
        <td>{{item.bookingId}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.bookingTime}}</td>
        <td>{{item.streetAddress}}</td>
        <td>{{item.bookingPrice}}</td>
    </tr>
</tbody>
</table>
