
    <form>
    <div class="form-group">
      <label>Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" >
    </div>  
    <button class="btn btn-primary" (click)="acceder()">Acceder</button>
</form>

